
/* =================body================= */

$font-stack:  "RobotoRegular",  'OpenSansRegular', sans-serif;
$primary-color: #ffffff;
$primary-fz: 18px;
$primary-l-heigth: 2;

	/* ==mob== */
$primary-fz-mob: 14px;
$primary-l-heigth-mob: 2;


/* =================input================== */

$inputpadding: 16px;
$inputborder: none;
$inputradius: 0px;