@import "variables";

*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

html, body{
	font-family: $font-stack;
	font-size: $primary-fz;
	color: $primary-color;
	line-height: $primary-l-heigth;
	background-color: #000;
}

a{
	color: $primary-color;
}
input{
	font-size: 28px;
	padding: $inputpadding;
	border: $inputborder;
	border-radius: $inputradius;
}


.container{
	width: 100%;
	max-width:  1170px;
	margin: 0 auto;
	position: relative;
	&:after{
			content: "";
			clear: both;
			display: block;
		}
}


/* ==========HEADER============ */

.header{
	height: 65px;
	width: 100%;
	margin: 0 auto;
	background-color: rgba(0,0,0, 0.5);
	overflow: hidden;
	&__logo{
		opacity: 0.5;
		height: 64px;
		img{
			position: relative;
			top: -25px;
			animation-name: spiny;
			animation-duration: 3.5s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;

		}

		span{
			font-size: 51px;
			position: relative;
    	top: -71px;
    	left: -71px;
			font-family: "Melbourne_reg";
			display: inline-block;
			animation-name: spinx;
			animation-duration: 3.5s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}
	}

	&__body{
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	&__nav{
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}

	&__item{
		display: inline-block;
		font-size: 24px;
		padding-left: 30px;
		font-family: "Melbourne_reg";
		transition: .3s  ease-in-out; 

		&:hover{
			opacity: 0.7;
			transform: translateY(-2px);

		}
	}
}

@keyframes spiny{
	0%{
		transform: translatey(-4px);
	}

	50%{
		transform: translatey(0px);
	}

	100%{
		transform: translatey(-4px);
	}


}

@keyframes spinx{
	0%{
		transform: translateX(-4px);
	}

	50%{
		transform: translateX(0px);
	}

	100%{
		transform: translateX(-4px);
	}


}

/* ==========banner============ */

.banner{
	height: 1080px;
	padding-top: 24px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-image: url("../img/banner.jpg"); 
	box-sizing: border-box;
	overflow: hidden;
	&__body{
		
	}


	
		.left-sq{
			width: 795px;
			height: 795px;
			position: absolute;
			content: '';
			display: block;
			background-color: rgba(0,0,0, 0.8);
			transform: rotate(45deg);
			left: -610px;
    	top: 313px;
		}

		.right-sq{
			width: 795px;
			height: 795px;
			position: absolute;
			content: '';
			display: block;
			background-color: rgba(0,0,0, 0.8);
			transform: rotate(45deg);
			right: -610px;
    	top: 313px;
		}
	
}


/* ==========rhombus============ */

.rhombus{
	margin-top: 280px;
	padding-left: 85px;
	height: 588px;

	&__big{
		float: left;
		width: 34.8%;
		height: 414px;
		//background-color: rgba(0,0,0, 0.7);
		transform: rotate(45deg);
		&:after{
			content: "";
			clear: both;
			display: block;
		}

		&--left{
			position: absolute;
			    left: 93px;

			.rhombus__small--3{
				background-color: #000;
				animation-name: up;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-delay: 0s;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: justify;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-align-items: center;
				align-items: center;

				img{
					transform: rotate(-46deg);
					position: relative;
					left: 17px;
				}
			} 

			.rhombus__small--1{
				background-color: #000;
				opacity: 0.6;
				animation-name: up;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-delay: .3s;
			} 

			.rhombus__small--4{
				background-color: #000;
				opacity: 0.6;
				animation-name: up;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-delay: .3s;
			} 

			.rhombus__small--2{
				background-color: #000;
				opacity: 0.4;
				
			} 
		}

		&--center{
			position: absolute;
			//left: -122px;
			    left: 32.6%;

			.rhombus__small--3{
				background-color: rgba(0,0,0, 0.6);
				animation-name: up;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-delay: .6s;
				
				p{
					transform: rotate(-45deg);
					font-family: "Melbourne_reg";
					font-weight: bold;
					font-size: 47px;
					margin-top: 21px;
    			margin-left: 20px;
					span{
						display: block;
						font-size: 15px;
						font-family: "RobotoLight";
						letter-spacing: 3.5px;
						position: relative;
						top: -28px;
						padding-left: 3px;
					}	
				}
	
			}

			.rhombus__small--1{
				background-color: #000;
				opacity: 0.55;
				animation-name: up;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-delay: .9s;
			} 

			.rhombus__small--4{
				background-color: #000;
				opacity: 0.55;
				animation-name: up;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-delay: .9s;
			} 
		}

		&--right{
			position: absolute;
			right: 94px;
			
			.rhombus__small--3{
				background-color: #000;
				opacity: 0.45;

			}

			.rhombus__small--1{
				background-color: #000;
				opacity: 0.3;
				animation-name: up;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-delay: 1.2s;
			} 

			.rhombus__small--4{
				background-color: #000;
				opacity: 0.3;
				animation-name: up;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-delay: 1.2s;
			} 

			.rhombus__small--2{
				background-color: #000;
				opacity: 0.2;
				animation-name: up;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-delay: 1.5s;
			} 
		}
	}

	&__small{
		width: 50%;
		height: 50%;
		float: left;
		//opacity: 0.4;
		
		transition: .2s ease-in-out;


		&:hover{
			//transform: scale(2) skewy(4deg);

		}

	}

	&:after{
			content: "";
			clear: both;
			display: block;
		}
}

@keyframes up{
	0%{
		transform: scale(1) skewy(0deg);
	}

	50%{
		transform: scale(1.05) skewy(2deg);
	}

	100%{
		transform: scale(1) skewy(0deg);
	}
}

/* ==========main-1============ */
.main-1{
	overflow: hidden;
	&__body{
		
	}

	.wind{
		img{
			//transition: .3s;
		}
	}

	.container{
		height: 1700px;

	}

	&__text{
		width: 470px;
		opacity: 0.8;
		padding-top: 90px
	}

	&__text2{
		width: 470px;
		opacity: 0.8;
		padding-top: 40px;

		.main-1__deer{
			line-height: 1.2;
		}
	}

	&__logo{
		padding-top: 500px;

		.logo-t{
			position: relative;
			margin-left: -130px;
    	top: -80px;
		}
	}

	&__deer{
		font-family: "Melbourne_reg";
		font-weight: bold;
		font-size: 36px;
		span{
			font-family: "Melbourne_light";
		}
	}
}

.window1{
	width: 700px;
	height: 700px;
	overflow: hidden;
	transform: rotate(45deg);
	

  &__wrapper{
		position: absolute;
	  right: 35px;
	  top: 200px;
  }

	img{
	  transform: rotate(-45deg);
	 	position: absolute;
    top: -207px;
    left: -252px;
	}

	&__light{
		position: absolute;
		top: 48%;
    left: -166px;
		transform: rotate(-45deg);
	}

	&__light2{
		position: absolute;
		bottom: -179px;
    left: 43%;
		transform: rotate(135deg);
	}
}

.light{
	
	width: 30px;
	height: 30px;
	&__item{
		width: 12px;
		height: 12px;
		background-color: #FFF;
		margin: 0 3px 3px 0;
		float: left;

		&:nth-child(1){
			animation-name: light;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
			animation-delay: .2s;
		}

		&:nth-child(2){
			animation-name: light;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
			animation-delay: .0s;
		}

		&:nth-child(3){
			animation-name: light;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
			animation-delay: .4s;
		}
	}
}

@keyframes light{
	0%{
		opacity: 0;
	}

	50%{
		opacity: 0.4;
	}

	100%{
		opacity: 0;
	}
}

.window2{
	width: 275px;
	height: 275px;
	overflow: hidden;
	transform: rotate(45deg);
	position: absolute;
  right: 35px;
  top: 930px;
  opacity: .6;

	img{
	  transform: rotate(-45deg);
	 	position: absolute;
    top: -145px;
    left: -120px;
	}
}

.window3{
	width: 275px;
	height: 275px;
	overflow: hidden;
	transform: rotate(45deg);
	position: absolute;
  right: 247px;
 	top: 1143px;
  opacity: .3;

	img{
	  transform: rotate(-45deg);
	 	position: absolute;
    top: -50px;
    left: -120px;
	}
}

.window4{
	width: 275px;
	height: 275px;
	overflow: hidden;
	transform: rotate(45deg);
	position: absolute;
    right: 461px;
    top: 1360px;
    opacity: .1;

	img{
	  transform: rotate(-45deg);
	 	position: absolute;
    top: -120px;
    left: -15px;
	}
}



/* ==========main-2============ */
.main-2{
	
	&__body{
		padding: 105px 0 170px;
		text-align: center;
	}	

	&__title{
		font-family: "Melbourne_reg";
		font-weight: bold;
		font-size: 47px;


	}

	p{
		display: inline-block;
	}

	.light{
		display: inline-block;
		position: relative;
		left: -15px;
		top: -7px;
		transform: rotate(-135deg);
	}

	&__text{
		width: 550px;
		margin: 0 auto;
	}
}

/* ==========main-3============ */
.main-3{
	margin-top: -1px;
	

	.slider-nav{
		position: relative;
		z-index: 6;
		&__container{
			width: 72%;
			position: relative;
			&:before{
				position: absolute;
				content: '';
				border: 30px solid transparent;
				border-right: 30px solid #000;
				border-top: 30px solid #000;
				display: block;
				right: -1px;
				width: 0;
				height: 0;
				z-index: 10;
			}
		}
		.slick{
			&-slide{
				border: 2px solid #000;
				opacity: 0.6;
				//height: 108px;
				overflow: hidden;

				img{
					width: 100%;
				}
			}

			&-center{
				opacity: 1;
			}

			&-prev{
				left: 250px;
				background-image: url("../img/prev-arr.png");
			}

			&-next{
				right: 53px;
				background-image: url("../img/next-arr.png");
			}

			&-arrow{

				&:before{
					display: none;
				}
				z-index: 10;
				width: 40px;
				height: 50px;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

	}

	.slider-for{
		.slick{
			&-slide{
				max-height: 1080px;
				img{
					min-width: 100%;
					//height: 100%;
				}
			}

			&-arrow{
				height: 100%;
				width: 50%;
				z-index: 10;
				&:before{
					display: block;
					content: '';
					height: 100%;	
					width: 40%;
					background-color: #000;
					opacity: 0;
				}

				&:hover{
					&:before{
							opacity: 0.3;
					}
				}
			}

			&-next{
				right: 0;
				&:before{
					position: absolute;
				  top: 0;
				  right: 0;
				}

			}

			&-prev{
				left: 0;
			}


		}

	}

	.slider{
		position: relative;
		z-index: 3;
		.mask{
			position: absolute;
			content: '';
			left: 0;
			top: 0 ;
			width: 100%;
			background-image: url("../img/mask.png");
			height: 100%;
			background-size: 100% 101%;
			z-index: 5;

		}

		&__desc{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 12;
		}

		.light{
			position: absolute;
	    left: 9%;
	    top: 135px;
	    z-index: 11;
	    transform: rotate(-135deg);
		}

		&__box{
			width: 570px;
			margin: 0 auto;
		}

		&__logo{
			position: absolute;
			z-index: 14;
			right: -83px;
    	top: -57px;
    	width: 100px;

    	img{
    		width: 100%;
    	}
		}
	}


}

/* ==========main-4============ */
.main-4{
	padding-top: 75px;
	padding-bottom: 250px;

	&__text{
		font-family: "RobotoLight";
		font-size: 14px;
		padding-top: 40px;
		line-height: 1.5;

		p{
			padding-bottom: 30px;
		}
	}

	&__logo-t{
		position: absolute;
    right: 9px;
    top: 144px;
	}

	&__logo{
		position: relative;
	}
	
	&__body{
		
	}	

	&__title{
		font-family: "Melbourne_reg";
		font-weight: bold;
		font-size: 47px;
		padding-bottom: 112px;
		span{
			font-family: "Melbourne_light";
			font-weight: normal;
		}

		.light{
			position: relative;
    	top: -5px;
    	left: -7px;
			display: inline-block;
			transform: rotate(-135deg);
		}
	}

	&__left{
		float: left;
		width: 33.3%;
		box-sizing: border-box;
		padding: 0 15px;
		padding-top: 97px;
	}

	&__center{
		float: left;
		width: 33.3%;
		box-sizing: border-box;
		padding: 0 15px;
		padding-top: 112px;
	}

	&__right{
		float: left;
		width: 33.3%;
		box-sizing: border-box;
		padding: 0 15px;

	}

	&__photo{
		overflow: hidden;

		img{
			transition: 0.6s ease-in-out;
			width: 100%;
		}
		position: relative;
		&:hover{
			img{
				opacity: 0.4;
				//transform: scale(1.05) translate(15px, 5px);
			}

			.main-4__names{
				transform: translateX(0);
				opacity: 1;
			}
		}

		.main-4__title{
			
			text-align: center;
			padding-bottom: 0;
			
		}

		.status{
			font-size: 18px;
			font-family: "RobotoLight";
			text-align: center;
			margin-top: -25px;
		}
	}

	&__names{
		transition: 0.6s ease-in-out;
		transform: translateX(-40px);
		position: absolute;
		bottom: 80px;
		width: 100%;
		opacity: 0;
	}
}


.chaig{
	.light{
		position: absolute;
		bottom: 8px;
    left: 5px;
		transform: rotate(135deg);
	}
}

.richrds{
	.light{
		position: absolute;
		top: -8px;
		left: 10px;
		transform: rotate(-135deg);
	}
}
/* ==========main-5============ */
.main-5{
	height: 177px;
	background-image: url("../img/m5.jpg");
	background-size: cover;
	.main-4__title{
		padding-top: 17px;
		text-align: center;
		padding-bottom: 0;
		font-size: 74px;
	}	
}

/* ==========main-6============ */
.main-6{
	padding-top: 160px;
	.container{
		max-width: 570px;
	}

	input{
		display: block;
		width: 100%;
		margin-bottom: 30px;
		box-sizing: border-box;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #4e4e4e;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: #4e4e4e;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: #4e4e4e;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: #4e4e4e;
		}
	}
	
}

.top-input{
	position: relative;

	&:before{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		border: 10px solid transparent;
		border-left: 10px solid #000;
		border-bottom: 10px solid #000;
		display: block;
		width: 0;
		height: 0;
	}

	&:after{
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		border: 10px solid transparent;
		border-right: 10px solid #000;
		border-bottom: 10px solid #000;
		display: block;
		width: 0;
		height: 0;
	}
}

.bottom-input{
	position: relative;

	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		border: 10px solid transparent;
		border-left: 10px solid #000;
		border-top: 10px solid #000;
		display: block;
		width: 0;
		height: 0;
	}

	&:after{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		border: 10px solid transparent;
		border-right: 10px solid #000;
		border-top: 10px solid #000;
		display: block;
		width: 0;
		height: 0;
	}
}

.btn{
	display: block;
	padding: 12px 0;
	width: 100%;
	font-family: "Melbourne_reg";
	text-transform: uppercase;
	font-size: 37px;
	background-color: #4e4e4e;
	border: none;
	color: #fff;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;

	&:hover{
		background-color: #595959;

		&:before{
			transform: rotate(45deg)  translate(-50px, 50px);
		}

		&:after{
			transform: rotate(45deg)  translate(50px, -50px);
		}

		

	}

	&:before{
			content: '';
			position: absolute;
			width: 200px;
			height: 200px;
			z-index: 2;
			transform: rotate(45deg);
			background-color: #000;
			opacity: .2;
			left: -31px;
			transition: 0.3s;
			top: 0;
	}

	&:after{
			content: '';
			position: absolute;
			width: 200px;
			height: 200px;
			z-index: 2;
			transform: rotate(45deg);
			background-color: #000;
			opacity: .2;
			right: -3px;
			transition: 0.3s;
			top: 0;

	}

	&-box{
		position: relative;
		overflow: hidden;

		&:hover{
			.btn-box__hover::before{
				transform: rotate(45deg)  translate(-50px, 50px);
			}

			.btn-box__hover::after{
				transform: rotate(45deg)  translate(50px, -50px);
			}
		}

		&__hover{
			position: relative;
			 &:before{
				content: '';
				position: absolute;
				width: 200px;
				height: 200px;
				z-index: 2;
				transform: rotate(45deg);
				background-color: #000;
				opacity: .2;
				left: -137px;
				transition: 0.3s;
				top: 0;
			}

			&:after{
				content: '';
				position: absolute;
				width: 200px;
				height: 200px;
				z-index: 2;
				transform: rotate(45deg);
				background-color: #000;
				opacity: .2;
				right: -130px;
				transition: 0.3s;
				top: 0;

			} 
		}

		&:before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			border: 12px solid transparent;
			border-left: 12px solid #000;
			border-bottom: 12px solid #000;
			display: block;
			width: 0;
			height: 0;
			z-index: 5;
		}

		&:after{
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			border: 12px solid transparent;
			border-right: 12px solid #000;
			border-top: 12px solid #000;
			display: block;
			width: 0;
			height: 0;
			z-index: 5;
		}
	}

	
}

.main-7{
	padding-top: 200px;

	&__body{
		display: -webkit-flex;
		display: flex;
	}
}

/* ==========FOOTER============ */
